Thumbs.db
.DS_Store
node_modules/
package-lock.json
.vscode/
.firebaserc
firebase.json
google-api-php-client-*

#theme file以外は無視
/*
!/wp-content/
/wp-content/*
!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/e2d3-web/
