$breakpoint: (
  sp: "only screen and (max-width: 760px)",
  pc: "only screen and (min-width: 761px)"
);

@mixin media ($device) {
  @media #{map-get($breakpoint, $device)} {
    @content;
  }
}

@mixin clearfix{
  &::after{
    content: "";
    display: block;
    clear: both;
  }
}

// 子ページ用に上書き
.e2d3_child{

  *,*:before,*:after{
      box-sizing: border-box;
  }

  p{
    margin: 0 0 24px;
  }
  img {
      max-width: 100%;
      height: auto;
  }
  hr {
      height: 1px;
      margin-bottom: 1.5em;
      border: 0;
      background-color: #ccc;
  }

  .clear-fix:after{
    content: "";
    display: block;
    clear: both;
  }

  @include media("pc"){
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 100px;
    overflow: auto;
    padding-top: 80px;
  }

  .module{
    @include media("pc"){
      border-bottom: none;
    }
  }

  .module-inner{
    padding-bottom: 0;
    padding-top: 50px;
    @include media("pc"){
      max-width: inherit;
      padding-top: 0;
    }
  }
  .e2d3-page-content{
    @include media("pc"){
      width: 75%;
      float: left;
    }
  }
  .e2d3-sidebar{
    @include media("pc"){
      width: 25%;
      float: left;
      border-left: 1px solid rgba(0, 0, 0, 0.05);
    }
  }
  // 主に不具合報告
  select,textarea{
    width: 100%;
  }
  select{
    padding: 5px;
  }
  textarea{
    padding: 10px;
  }
  input[type="submit"].wpcf7-submit{
    width: 100%;
    margin: 0;
    display: block;
    @include media("pc"){
      margin: 0 auto;
      width: 200px;
    }
  }
  input[type="submit"].wpcf7-submit:hover{
    opacity: 0.8;
    transition-duration: 0.4s;
  }

  input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea {
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 0;
      color: #555;
  }
  input[type="search"] {
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      -webkit-appearance: textfield;
  }
  button, input[type="button"], input[type="reset"], input[type="submit"] {
      margin: 10px;
      padding: 13px 35px 13px 35px;
      border: none;
      border-radius: 4px;
      color: #fff;
      background-color: #e96656;
      box-shadow: none;
      text-shadow: none;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      vertical-align: middle;
      white-space: nowrap;
      text-transform: uppercase;
      cursor: pointer;
  }
  .screen-reader-text {
      clip: rect(1px, 1px, 1px, 1px);
      position: absolute;
  }
}
.entry{
  overflow: hidden;
}
.entry-title {
    padding-top: 0;
    font-size: 20px;
    position: relative;
    font-weight: 700;
    color: #404040;
    font-size: 20px;
    line-height: 22px;
    a{
      color: #404040;
      font-size: 20px;
      line-height: 22px;
    }
    &:before{
      position: absolute;
      z-index: 1;
      bottom: -9px;
      left: 0;
      width: 10%;
      height: 2px;
      margin: auto;
      background: #e96656;
      content: "";
    }
    &:after{
      position: absolute;
      z-index: 1;
      bottom: -9px;
      left: 0;
      width: 10%;
      height: 2px;
      margin: auto;
      background: #e96656;
      content: "";
    }
}
.entry-meta{
  margin-top: 10px;
}
.entry-content {
    line-height: 20px;
    margin: 50px 0 0;
    h3{
      font-size: 20px;
      margin-bottom: 30px;
      font-weight: bold;
    }
    h4{
      margin-bottom: 1em;
      font-weight: bold;
    }
    a{
      display: inline-block;
    }
}





// サイドバー
.widget-area {
    float: left;
    width: 100%;

  .widget {
    clear: both;
  }
  // 検索
  .widget_search{

    form {
      position: relative;
    }
    label {
      position: relative;
      width: 100%;
      margin-bottom: 5px;
    }
    input{
      width: 83%;
      padding: 12px 15% 12px 2%;
    }


    .search-submit {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 46px;
        height: 46px;
        margin: 0;
        padding: 0;
        background: url(images/search_icon.png) no-repeat center center;
        text-indent: -9999999px;
    }

  }

  .widget-title {
      float: none;
      position: relative;
      margin-top: 30px;
      margin-bottom: 30px;
      padding-bottom: 5px;
      color: #404040;
      font-size: 17px;
      font-weight: bold;
      text-align: left;
      text-transform: uppercase;
      &:before{
        position: absolute;
        z-index: 1;
        bottom: -9px;
        left: 0;
        width: 35%;
        height: 2px;
        margin: auto;
        background: #e96656;
        content: "";
      }
  }

  ul {
      display: block;
      margin: 0;
      padding: 0;
      li {
          position: relative;
          margin: 15px 0;
          margin-left: 3%;
          padding-left: 10px;
          text-align: left;
          list-style: none;
          &:before{
            float: left;
            position: absolute;
            left: 0;
            width: 4px;
            height: 4px;
            margin-top: 11px;
            background: #e9e9e9;
            content: "";
          }
          a{
            color: #808080;
            text-decoration: none;
            transition: all 700ms;
            &:hover{
              color: #404040;
            }
          }
      }
  }

}

// アーカイブ
.page-header {
    margin: 0 0 40px;
    border-bottom: none;
    text-align: left;
    padding-bottom: 9px;
    .page-title {
        position: relative;
        font-size: 24px;
        font-weight: bold;
        &:before {
            position: absolute;
            z-index: 1;
            bottom: -9px;
            left: 0;
            width: 35%;
            height: 2px;
            margin: auto;
            background: #e9e9e9;
            content: "";
        }
    }
}

.listpost-content-wrap {
    float: left;
    width: 100%;
    margin-top: 20px;
    @include media("pc"){
      float: none;
      margin-top: 0;
    }
}

// サムネイル
.post-img-wrap {
    display: inline-block;
    float: left;
    overflow: hidden;
    text-align: center;
    width: 100%;
    @include media("pc"){
      width: auto;
      margin-right: 20px;
    }
    a {
        float: none;
        width: 250px;
        height: 250px;
        margin: 0 auto;
        display: inline-block;
        background-size: cover;
        position: relative;
        background-position: center;
        overflow: hidden;
        @include media("pc"){
          width: 200px;
          height: 200px;
        }
        img {
          position: absolute;
          max-width: initial;
          top: 50%;
          left: 50%;
          height: 100%;
          width: auto;
          transform: translate(-50%,-50%);
          transition-duration: 0.4s;
        }
        &:hover img{
          transform: translate(-50%,-50%) scale(1.1);
        }
    }
}

.e2d3_archive{

  .module{
    border-bottom: none;
  }

  .entry{
    overflow: hidden;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  .entry-header{
    overflow: hidden;
  }

  .entry-title a:hover{
    text-decoration: none;
    color: #20A75E;
  }
  .entry-content{
    margin-top: 1em;
    overflow: hidden;
  }
  .entry-description{
    color: #333;
    &:hover{
      color: #20A75E;
      text-decoration: none;
    }
  }
  .entry-footer{
    @include media("pc"){
      padding-top: 10px;
    }
     a{
      font-style: italic;
      &:hover{
        text-decoration: none;
      }
    }

  }

}

// 検索結果
.search-form{
  text-align: center;
}
.search-field{
  width: 96%;
  padding: 12px 2% 12px 2%;
}

footer{
  clear: both;
}
