// WebFonts notosans
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
 
body {
     font-family: 'Noto Sans JP', sans-serif;
     font-size: 100%;
}

// Common Settings
body,ul,li,h1,h2,h3,h4,h5,dl,dt,dd,p {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: 400;
}
ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #08BAD0;
    &:hover {
        text-decoration: underline;
    }
}
.module {
    border-bottom: 1px solid #EFEFEF;
    .module-inner {
        max-width: 800px;
        margin: 0 auto;
        padding: 100px 15px;
    }
    h2 {
        padding-bottom: 30px;
        font-size: 32px;
    }
    p {
        line-height: 2;
        &.detailLink {
            margin-top: .5em;
            font-weight: bold;
        }
    }
}

// Menu
.top-menu {
    display: none; //あとで
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 2px rgba(0,0,0,.08);
    ul {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        padding: 12px 0;
    }
    li {
        list-style: none;
        flex: 1;
        a {
            color:  #333;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

//Firstview
.main-intro {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 800px;
    box-sizing: border-box;
    padding-bottom: 115px; //ニュースmodule分余白開けておく
    .module-inner {
        display: flex;
        min-width: 1200px;
        height: 100%;
        box-sizing: border-box;
        padding: 20px 0;
        align-items: center;
    }
    .intro-text {
        background: url('./images/icon-under.png') no-repeat 50% 100%;
        background-size: 34px 17px;
        padding-bottom: 50px;
        .intro-title {
            background: url(./images/text-title.png) no-repeat 0 0;
            background-size: 322px 91px;
            width: 322px;
            height: 91px;
            text-indent: -9999px;
            overflow: hidden;
            margin: 0 30px 30px 0;
        }
    }
    .intro-grove {
        flex: 1;
        text-align: center;
    }
    .intro-news { //高さ固定で
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-top: 1px solid #EFEFEF;
        .news-inner {
            max-width: 800px;
            margin: 0 auto;
            padding: 15px 0;
        }
        h2 {
            color: #FAC646;
            font-size: 100%;
            padding: 0;
        }
        dt, dd {
            display: inline-block;
        }
        dt {
            padding-right: .8em;
        }
        dl {
            overflow: hidden;
            white-space: nowrap;
        }
        dd {
            text-overflow: ellipsis;  //TODO 省略記号がつかない…
        }
    }
}


//main-about
.main-about {
    background: linear-gradient(#ffc632, #ffdc4d);
    color: #fff;
    padding-bottom: 240px;
    text-align: center;
    font-weight: bold;
    h2 {
        font-size: 40px;
        font-weight: bold;
    }
    img {
        width: 100%;
        max-width: 576px;
        padding-top: 120px;
    }
    p {
        padding-top: 30px;
        font-size: 20px;
    }
}

//main-appInfo
.main-appInfo {
    position: relative;
    .appInfo-video {
        position: absolute;
        top: -250px;
        left: 50%;
        transform: translateX(-50%);
        width: 1110px;
        height: 586px;
        background: url('./images/bg-video.png') no-repeat;
        background-size: 1110px 586px;
        //仮
        img {
            position: absolute;
            top: 50px;
            left: 150px;
            width: 820px;
        }
    }
    .module-inner {
        padding-top: 400px;
    }
    h2 {
        font-weight: bold;
    }
    h3 {
        padding-bottom: 50px;
        font-weight: bold;
        font-size: 20px;
    }
    p {
        padding-bottom: .8em;
    }
    .appInfo-howToUse {
        padding: 40px 0 15px;
        font-weight: normal;
        font-size: 100%;
    }
    .appInfo-downloadLink {
        display: flex;
        margin: 0 -10px;
        text-align: center;
        a {
            display: block;
            margin: 0 10px;
            padding: 1em 0;
            flex: 1;
            background-color: #08BAD0;
            border-radius: 4px;
            color: #fff;
            &:nth-child(3) {
                padding: 1.8em 0 0;
            }
        }
    }
    .appInfo-aboutDV {
        display: flex;
        width: 100%;
        background-color: #F7F7F7;
        margin-top: 50px;
        padding: 15px 20px;
        overflow: hidden;
        line-height: 2;
        dt {
            margin-right: 10px;
            white-space: nowrap;
        }
    }
}
.main-case {
    .case-head {
        max-width: 800px;
        margin: 0 auto;
        padding: 60px 15px 0;
        text-align: center;
        .case-title {
            display: inline-block;
            background: url('./images/text-sampleCatch.png') no-repeat 0 0;
            background-size: 114px 46px;
            width: 114px;
            height: 46px;
            overflow: hidden;
            text-indent: -9999px;
            margin-right: 5px;
        }
    }
    .case-wrap {
        padding: 60px 0;
        border-bottom: 1px solid #EFEFEF;
        .case-overview {
            max-width: 800px;
            margin: 0 auto;
            padding-bottom: 60px;
            h3 {
                padding-bottom: 20px;
                font-size: 26px;
            }
        }
        .case-body {
            max-width: 1200px;
            margin: 0 auto;
            background-color: #f0f0f0;
        }
    }
}
.main-download {
    .module-inner {
        text-align: center;
        padding: 60px 15px;
    }
    h2 {
        display: inline-block;
        padding: 0;
        font-size: 34px;
        font-weight: bold;
        line-height: 42px;
        vertical-align: middle;
    }
    a {
        display: inline-block;
        height: 42px;
        line-height: 42px;
        margin-left: 20px;
        padding: 0 20px;
        background-color: #08BAD0;
        border-radius: 4px;
        vertical-align: middle;
        color: #fff;
        font-weight: bold;
    }
}


.main-workshop {
    .module-inner {
        padding-bottom: 120px;
        background: url(./images/bg-workshop.png) no-repeat 100% 100%;
        background-size: 478px auto;
    }
}

.main-development {
    .module-inner {
        padding-bottom: 150px;
        background: url(./images/bg-development.png) no-repeat 100% 95%;
        background-size: 280px auto;
    }
    dl {
        margin: 20px 60px 0 0;
        background: #fafafa;
        dt, dd {
            padding: 5px 15px;
        }
        dd {
            border-top: 1px solid #F0F0F0;
            font-size: 15px;
            a {
                position: relative;
                display: block;
                color: #000;
                &:after {
                    content: ">";
                    position: absolute;
                    right: 0;
                    color: #aaa;
                    font-weight: bold;
                }
            }
        }
    }
}
.main-eventInfo {
    background: linear-gradient(#34CEDC, #77D3DE);
    border-bottom: 0;
    color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    h2 {
        padding-bottom: 10px;
        font-weight: bold;
    }
    p.large-txt {
        padding-bottom: 40px;
        font-weight: bold;
        font-size: 20px;
    }
    h3 {
        padding-bottom: 20px;
        font-weight: bold;
        font-size: 20px;
    }
    ul.eventInfo-coming {
        padding: 60px 0;
        li {
            padding-bottom: 25px;
        }
        a {
            display: flex;
            background-color: #fff;
            color: #000;
            text-decoration: none;
            border-radius: 4px;
            box-shadow: 0 2px 1px rgba(0, 0, 0, .12);
            &:hover {
                background-color: #f9f9f9;
            }
            .event-date {
                padding: 20px 25px;
                border-right: 1px solid #d7d7d7;
                .date-day {
                    display: block;
                    margin-bottom: .2em;
                    font-size: 20px;
                }
            }
            .event-description {
                flex: 1;
                padding: 20px 25px;
                .desc-tag {
                    padding-bottom: 10px;
                    .tag {
                        display: inline-block;
                        margin-right: 10px;
                        padding: 4px 12px;
                        border-radius: 12px;
                        background-color: #aaa;
                        color: #fff;
                        font-size: 14px;
                        line-height: 1;
                        &.open {
                            background-color: #62BA62;
                        }
                        &.closed {
                            background-color: #EF674A;
                        }
                    }
                }
                .desc-eventTitle {
                    padding-bottom: 10px;
                    font-size: 22px;
                    font-weight: normal;
                }
                .desc-text {
                    font-size: 13px;
                }
            }
        }
    }
    .eventInfo-past {
        li {
            display: inline-block;
            position: relative;
            width: 32.5%;
            margin-right: 1%;
            &:last-child {
                margin-right: 0;
            }
            &:before {
                display: block;
                content: '';
                padding-top: 100%;
            }
            a {
                position: absolute;
                top: 0;
                display: block;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                background: #ccc no-repeat 50%;
                background-size: cover;
                .eventInfo-description {
                    position: absolute;
                    bottom: 0;
                    background-color: rgba(0,0,0,.6);
                    color: #fff;
                    padding: 10px;
                    .desc-eventTitle {
                        font-size: 14px;
                    }
                }
            }
        }

    }
}
.main-snsLink {
    background-color: #fafafa;
    border-bottom: 0;
    h2 {
        padding-bottom: 10px;
        font-weight: bold;
    }
    p {
        padding: 20px 0;
    }
    .snsLink-wrap {
        display: flex;
        padding-top: 30px;
        .snsLink-module {
            flex: 1;
            margin-right: 10px;
            padding: 20px;
            background: #fff;
            border-radius: 4px;
            box-shadow: 0 0 10px rgba(0, 0, 0, .08);
            &:last-child {
                margin-right: 0;
            }
            .module-head {
                display: flex;
                justify-content: center;
                align-items: center;
                h3 {
                    display: inline-block;
                    padding-right: 15px;
                    img {
                        width: 48px;
                    }
                }
            }
        }
    }
}

.main-joinus {
    background-color: #62BA62;
    border-bottom: 0;
    color: #fff;
    .module-inner {
        position: relative;
        h2 {
            font-weight: bold;
        }
        &:after {
            position: absolute;
            bottom: -100px;
            right: 0;
            display: block;
            content: "";
            width: 170px;
            height: 148px;
            background: url(./images/bg-interview.png) no-repeat 100% 100%;
            background-size: 170px 148px;
        }
    }
    .joinus-github {
        padding-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
            padding-left: 60px;
        }
        li {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                display: block;
                width: 240px;
                height: 34px;
                text-align: center;
                border-radius: 4px;
                background-color: #fff;
                line-height: 34px;
                box-shadow: 0 2px 1px rgba(0,0,0,.1);
            }
        }
    }
}
.main-interview {
    background-color: #58B058;
    border-bottom: 0;
    color: #fff;
    h2 {
        padding-bottom: 30px;
        font-weight: bold;
    }
    li {
        display: inline-block;
        width: 32.3%;
        margin-right: 1.5%;
        margin-bottom: 40px;
        vertical-align: top;
        &:nth-child(3n) {
            margin-right: 0;
        }
        a {
            color: #fff;
        }
        img {
            width: 100%;
        }

    }

}

.footer {
    padding: 40px 0;
    background-color: #3a3a3a;
    border-bottom: 0;
    text-align: center;
    color: #fff;
    font-size: 12px;
}


/* スマホ対応 */

@media (max-width: 420px) {
    .hide-sp {
        display: none;
    }
}